---
// pages/quotes/[id].astro
import { getCollection, render, type CollectionEntry } from "astro:content";
import BaseLayout from "@/layouts/BaseLayout.astro";
import QuoteCard from "@/components/content/QuoteCard.astro";

// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
  const quote = await getCollection("quotes");

  return quote.map((quoteEntry) => ({
    params: { id: quoteEntry.id },
    props: { quoteEntry },
  }));
}

// 2. Get the entry directly from the prop
type Props = {
  quoteEntry: CollectionEntry<"quotes">;
};
const { quoteEntry } = Astro.props;

// 3. Set page title
const titleShort =
  quoteEntry.data.words.slice(0, 48) +
  (quoteEntry.data.words.length > 48 ? "..." : "");
---

<BaseLayout titleShort={titleShort}>
  <div
    class="container mx-auto my-auto h-full w-full max-w-full items-center sm:max-w-3/4 md:max-w-1/2 lg:max-w-2/5 xl:max-w-2/5"
  >
    <article
      data-pagefind-body
      data-pagefind-title={quoteEntry.data.words}
      id={quoteEntry.id}
      class='break-inside-avoid"'
    >
      <QuoteCard id={quoteEntry.id} include_extra={true} />
    </article>
  </div>
</BaseLayout>
