---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getCollection, z } from 'astro:content';
import MediaInfo from "@/components/MediaInfo.astro"

const titleShort = "media";
const titleFull = "media";

const ratings = ['not-good', 'okay', 'good', 'fantastic', 'all-time-influential'];
const ratingValue = (rating: string): number => ratings.indexOf(rating);

// load media collection and sort by rating and then
const media = (await getCollection('media')).sort((a, b) => {
  const ratingDiff = ratingValue(b.data.rating) - ratingValue(a.data.rating);
  if (ratingDiff !== 0) { return ratingDiff; }
  // If same rating, sort by relevant_date descending
  return (new Date(b.data.relevant_date) > new Date(a.data.relevant_date) ? 1 : -1)
});

function formatDate(date: Date): string {
  const newDate = new Date(date);
  const year = newDate.getFullYear();
  const month = String(newDate.getMonth() + 1).padStart(2, '0');
  const day = String(newDate.getDate()).padStart(2, '0');
  return `${year}/${month}/${day}`;
}
---

<BaseLayout titleShort={titleShort} titleFull={titleFull}>
  <p class="pb-6 text-content-1">(books, podcasts, articles, & the rest)</p>

  <div class="grid max-w-9/10 grid-cols-2 gap-4 md:max-w-4/5 md:grid-cols-3">
    {media.map(media => (
        <MediaInfo mediaEntry={media} context="gallery" />
      ))}
  </div>
</BaseLayout>
