---
// src/components/NavigationHome.astro
import SearchButton from '@/components/SearchButton.astro';
import MobileMenu from '@/components/MobileMenu.astro';
import SearchModal from '@/components/SearchModal.astro';
import { NAV_ITEMS } from '@/data/navData';

const headerClasses = "font-header text-lg font-semibold tracking-wide text-content-1";
const linkClasses = "block font-header text-base font-light text-content-3 rounded-xl py-1.5 hover:text-content-2 hover:bg-surface-2 hover:font-semibold focus-outline-rounded soft-transition";
---
<aside class="hidden md:flex flex-col fixed top-0 left-0 h-full md:w-54 lg:w-68 z-50 bg-surface-1 items-center pt-6 pb-8">
  <!-- Name and logo -->
  <div class="flex flex-row items-center mb-6">
    <img src="/tricolor-paw.svg" alt="paw-logo" class="md:w-10 lg:w-14 mt-2 h-auto mr-2" />
    <span class="font-serif md:text-xl lg:text-3xl font-bold text-content-3 tracking-tight mt-3 mb-1">maya sheth</span>
  </div>

  <!-- Search icon -->
  <div class="mb-4 w-5/6 mx-auto flex flex-row justify-center items-center">
    <SearchButton id="search-trigger" size="h-8 w-8" label="search" />
  </div>

  <!-- Navigation (sidebar) -->
  <nav class="w-full text-center">
    {NAV_ITEMS.map(section => (
      <div class="mb-4">
        <div class={headerClasses}>{section.label}</div>
        <div class="flex flex-col">
          {section.children.map(link => (
            <a href={link.href} class={linkClasses}>{link.label}</a>
          ))}
        </div>
      </div>
    ))}
  </nav>

  <!-- Search modal (sidebar and mobile share) -->
  <SearchModal />
</aside>

<!-- Mobile header/nav -->
<header class="md:hidden sticky top-0 z-50 bg-surface-2 p-3">
  <div class="mx-auto flex max-w-6xl items-center justify-between">
    <div class="flex items-end justify-center">
      <img class="-mb-0.5 h-auto w-8" src="/tricolor-paw.svg" alt="paw-logo">
      <a href="/" class="ml-2 font-serif text-xl font-bold text-content-3 soft-transition hover:text-content-2 focus-outline-rounded">maya sheth</a>
    </div>
    <MobileMenu navItems={NAV_ITEMS} mode = "icons" />
  </div>

  <MobileMenu navItems={NAV_ITEMS} mode="dropdown" /> <!--- Mobile dropdown -->

  <SearchModal /> <!-- For mobile menu/modal -->
</header>