---
// src/components/Navigation.astro
import { Icon } from 'astro-icon/components';
import SearchButton from '@/components/SearchButton.astro';
import MobileMenu from '@/components/MobileMenu.astro';
import SearchModal from '@/components/SearchModal.astro';
import { NAV_ITEMS } from '@/data/navData';

const navbarClasses = "flex items-center soft-transition group-hover:font-semibold group-hover:text-content-2 focus-outline-rounded";
const dropdownClasses = "block px-4 py-1 font-header soft-transition hover:font-semibold hover:text-content-2 focus-outline";
---
<header class="sticky top-0 z-50 bg-surface-1 p-3">
  <div class="mx-auto flex max-w-6xl items-center justify-between">
    <div class="flex items-end justify-center">
      <img class="-mb-0.5 h-auto w-8" src="/tricolor-paw.svg" alt="paw-logo">
      <a href="/" class="ml-2 font-serif text-xl font-bold text-content-3 soft-transition hover:text-content-2 focus-outline-rounded">maya sheth</a>
    </div>
    
    <!-- Desktop menu -->
    <nav class="hidden items-center space-x-6 font-header text-base font-light tracking-wide text-content-3 md:flex">
      {NAV_ITEMS.map(item => (
        <div class="group relative">
          <button class={navbarClasses}>
            {item.label}
            {item.icon && <Icon name={item.icon} class="ml-1 h-4 w-4 soft-transition group-hover:-scale-100" />}
          </button>
          <div class="absolute left-1/2 my-2 hidden w-auto -translate-x-1/2 rounded-md bg-surface-2 py-1 text-center before:absolute before:inset-x-0 before:-top-2 before:h-2 before:content-[''] group-hover:block">
            {item.children.map(child => (
              <a href={child.href} class={dropdownClasses}>{child.label}</a>
            ))}
          </div>
        </div>
      ))}
      <!-- Search button (desktop) -->
      <SearchButton id="search-trigger" />
    </nav>

    <!-- Mobile navigation -->
    <MobileMenu navItems={NAV_ITEMS} />
  </div>

  <!-- Search modal -->
  <SearchModal />
</header>