---
import BaseLayout from '@/layouts/BaseLayout.astro';
import { getCollection, type CollectionEntry } from 'astro:content';
import { Icon } from 'astro-icon/components';

const titleShort = "worldly";
const titleFull = "around the world";

// load collection
const atw = (await getCollection('atw'))

// get basic counts
const { bothComplete, bookOnlyComplete, bookIdea, bookIncomplete } = atw.reduce(
  (acc, item) => {
    if (item.data.book_status === "DONE" && item.data.music_status === "DONE") {
      acc.bothComplete++;
    } else if (item.data.book_status === "DONE") {
      acc.bookOnlyComplete++;
    } else if (item.data.book_ideas !== null && item.data.book_ideas?.length !== 0 ) {
      acc.bookIdea++;
    } else {
      acc.bookIncomplete++;
    }
    return acc;
  },
  { bothComplete: 0, bookOnlyComplete: 0, bookIdea: 0, bookIncomplete: 0 }
);
const bookComplete: number = bothComplete + bookOnlyComplete;


// group into atwBookComplete, atwIncomplete
const atwBookComplete: CollectionEntry<'atw'>[] = atw.filter(item =>
  item.data.book_status === "DONE" );
const atwIncomplete: CollectionEntry<'atw'>[] = atw.filter(item =>
  item.data.book_status !== "DONE" );

function formatDate(date: Date): string {
  const newDate = new Date(date);
  const year = newDate.getFullYear();
  const month = String(newDate.getMonth() + 1).padStart(2, '0');
  const day = String(newDate.getDate()).padStart(2, '0');
  return `${year}/${month}/${day}`;
}

---

<BaseLayout titleShort={titleShort} titleFull={titleFull}>
  <p class="text-content-1 text-center text-pretty"> (a quest to read a book (& listen to a song while i'm at it) for every country (or other major (subjective) territory) in the world) </p>
  <p class="pb-6 text-content-2 text-center">
    <span class="font-semibold"> current status: </span>
    books read for 
    <span class="font-mono font-semibold text-xl text-content-3"> {bookComplete}</span>
    locations; ideas for 
    <span class="font-mono font-semibold text-xl text-content-3"> {bookIdea}</span>
    more; 
    <span class="font-mono font-semibold text-xl text-content-3"> {bookIncomplete}</span>
    to go!
  </p>

  { /* BOOK COMPLETE */ }
  <section class="flex flex-wrap mx-auto justify-center md:max-w-3/4">
    {atwBookComplete.map(item => (
      <div class="p-0 m-2 bg-surface-1 rounded-xl flex flex-col">
        {/* location name + link */}
        <a
          href={`/media/around-the-world/${item.id}`}
          rel="noopener"
          class="truncate bg-surface-2 p-2 rounded-b-none rounded-t-xl
            text-center font-header tracking-wide font-light text-lg lowercase text-content-3 hover:text-content-2 hover:font-semibold soft-transition focus-outline"
          aria-label={`page for ${item.data.location}`}
        >
          {item.data.location}
        </a>

        <div class="flex flex-row gap-2 md:gap-6 items-center">
          { /* book image */ }
          <div class="ml-2 md:ml-4 flex items-center">
            <img
              src={item.data.book_cover}
              alt={`cover for ${item.data.book_title}`}
              class="h-auto w-16 md:w-26"
            />
          </div>
 
          { /* book title + music */ }
          <div class = {`flex flex-col justify-between items-center mr-2 md:mr-4 h-42 md:h-48 ${item.data.music_status === "DONE" ? "w-32 md:w-42" : "w-24"}`}>
            <p class="mt-6 wrap-anywhere hyphens-auto text-content-1 text-center font-semibold lowercase italic leading-none"> ← {item.data.book_title}</p>
            {item.data.music_status === "DONE" && (
              <div class="text-center mb-2">
                <p class="text-wrap text-content-2 font-semibold lowercase leading-none"> "{item.data.music_song}"</p>
                <p class="mt-2 text-wrap text-content-3 lowercase leading-none"> — {item.data.music_artist}</p>
                <a
                  href={item.data.music_link}
                  target="_blank"
                  rel="noopener"
                  class="p-2 focus-outline-rounded flex items-center justify-center"
                  aria-label={`link to ${item.data.music_song}`}
                >
                  <Icon name="mdi--play-circle" class="w-7 sm:w-9 h-auto text-content-4 hover:text-content-2 hover:scale-105 soft-transition" />
                </a>
              </div>
            )}
          </div>
        </div>
      </div>
    ))}
  </section>

  {/* IN PROGRESS */}  
  <h2 class="mt-6"> in progress / searching </h2>
  <p class="pb-6 text-content-1 text-center"> please let me know if you have ideas or suggestions! </p>

  <section class="flex flex-wrap mx-auto justify-center md:max-w-3/4">
    {atwIncomplete.map(item => (
      <div class="p-0 m-2 bg-surface-1 rounded-xl flex flex-col">
        {/* location name + link */}
        <a
          href={`/media/around-the-world/${item.id}`}
          rel="noopener"
          class="truncate bg-surface-2 p-2 rounded-xl
            text-center font-header tracking-wide font-light text-lg lowercase text-content-3 hover:text-content-2 hover:font-semibold soft-transition focus-outline"
          aria-label={`page for ${item.data.location}`}
        >
          {item.data.location}
        </a>
      </div>
    ))}
    
  </section>

</BaseLayout>